-- MySQL dump 10.13  Distrib 8.4.7, for Win64 (x86_64)
--
-- Host: localhost    Database: ccasc
-- ------------------------------------------------------
-- Server version	8.4.7

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `announcement`
--

DROP TABLE IF EXISTS `announcement`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `announcement` (
  `announcement_id` int NOT NULL AUTO_INCREMENT,
  `title` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `content` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `recipient_type` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `date_posted` datetime(3) NOT NULL,
  `staff_id` int NOT NULL,
  `status_id` int NOT NULL,
  PRIMARY KEY (`announcement_id`),
  KEY `Announcement_staff_id_fkey` (`staff_id`),
  KEY `Announcement_status_id_fkey` (`status_id`)
) ENGINE=MyISAM AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `announcement`
--

LOCK TABLES `announcement` WRITE;
/*!40000 ALTER TABLE `announcement` DISABLE KEYS */;
/*!40000 ALTER TABLE `announcement` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `announcementstatus`
--

DROP TABLE IF EXISTS `announcementstatus`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `announcementstatus` (
  `status_id` int NOT NULL AUTO_INCREMENT,
  `status` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`status_id`)
) ENGINE=MyISAM AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `announcementstatus`
--

LOCK TABLES `announcementstatus` WRITE;
/*!40000 ALTER TABLE `announcementstatus` DISABLE KEYS */;
INSERT INTO `announcementstatus` VALUES (1,'Active'),(2,'Archived'),(3,'Inactive');
/*!40000 ALTER TABLE `announcementstatus` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `approvalstatus`
--

DROP TABLE IF EXISTS `approvalstatus`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `approvalstatus` (
  `approval_status_id` int NOT NULL AUTO_INCREMENT,
  `status` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`approval_status_id`)
) ENGINE=MyISAM AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `approvalstatus`
--

LOCK TABLES `approvalstatus` WRITE;
/*!40000 ALTER TABLE `approvalstatus` DISABLE KEYS */;
INSERT INTO `approvalstatus` VALUES (1,'Declined'),(2,'Pending'),(3,'Approved');
/*!40000 ALTER TABLE `approvalstatus` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `availabilitystatus`
--

DROP TABLE IF EXISTS `availabilitystatus`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `availabilitystatus` (
  `status_id` int NOT NULL AUTO_INCREMENT,
  `status_name` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`status_id`)
) ENGINE=MyISAM AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `availabilitystatus`
--

LOCK TABLES `availabilitystatus` WRITE;
/*!40000 ALTER TABLE `availabilitystatus` DISABLE KEYS */;
INSERT INTO `availabilitystatus` VALUES (1,'Archived'),(2,'Available'),(3,'Unavailable'),(4,'Under Maintenance');
/*!40000 ALTER TABLE `availabilitystatus` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `booking`
--

DROP TABLE IF EXISTS `booking`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `booking` (
  `booking_id` int NOT NULL AUTO_INCREMENT,
  `confirmation_date` datetime(3) DEFAULT NULL,
  `reservation_id` int NOT NULL,
  `booking_status_id` int NOT NULL,
  `staff_id` int DEFAULT NULL,
  PRIMARY KEY (`booking_id`),
  KEY `Booking_reservation_id_fkey` (`reservation_id`),
  KEY `Booking_booking_status_id_fkey` (`booking_status_id`),
  KEY `Booking_staff_id_fkey` (`staff_id`)
) ENGINE=MyISAM AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `booking`
--

LOCK TABLES `booking` WRITE;
/*!40000 ALTER TABLE `booking` DISABLE KEYS */;
INSERT INTO `booking` VALUES (1,'2026-03-09 07:00:00.000',2,2,2),(2,'2026-03-08 05:00:00.000',5,1,2),(3,'2026-03-07 01:00:00.000',1,1,2),(4,'2026-03-06 03:00:00.000',3,3,NULL),(5,'2026-03-05 02:00:00.000',1,1,2);
/*!40000 ALTER TABLE `booking` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `bookingstatus`
--

DROP TABLE IF EXISTS `bookingstatus`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `bookingstatus` (
  `booking_status_id` int NOT NULL AUTO_INCREMENT,
  `status` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`booking_status_id`)
) ENGINE=MyISAM AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `bookingstatus`
--

LOCK TABLES `bookingstatus` WRITE;
/*!40000 ALTER TABLE `bookingstatus` DISABLE KEYS */;
INSERT INTO `bookingstatus` VALUES (1,'Confirmed'),(2,'Cancelled'),(3,'Pending');
/*!40000 ALTER TABLE `bookingstatus` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `client`
--

DROP TABLE IF EXISTS `client`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `client` (
  `client_id` int NOT NULL AUTO_INCREMENT,
  `first_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `middle_name` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `last_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `contact_number` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `id_proof` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `account_status` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Active',
  `profile_photo` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `client_role_id` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL,
  `client_org_id` int NOT NULL,
  PRIMARY KEY (`client_id`),
  UNIQUE KEY `Client_email_key` (`email`),
  KEY `Client_client_role_id_fkey` (`client_role_id`),
  KEY `Client_client_org_id_fkey` (`client_org_id`)
) ENGINE=MyISAM AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `client`
--

LOCK TABLES `client` WRITE;
/*!40000 ALTER TABLE `client` DISABLE KEYS */;
/*!40000 ALTER TABLE `client` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clientorganization`
--

DROP TABLE IF EXISTS `clientorganization`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `clientorganization` (
  `client_org_id` int NOT NULL AUTO_INCREMENT,
  `organization_name` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`client_org_id`)
) ENGINE=MyISAM AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clientorganization`
--

LOCK TABLES `clientorganization` WRITE;
/*!40000 ALTER TABLE `clientorganization` DISABLE KEYS */;
INSERT INTO `clientorganization` VALUES (1,'Notre Dame of Marbel University'),(2,'South Cotabato State College'),(3,'Mendoza Catering Services'),(4,'STI College Koronadal'),(5,'Villanueva Events Management');
/*!40000 ALTER TABLE `clientorganization` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clientrole`
--

DROP TABLE IF EXISTS `clientrole`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `clientrole` (
  `client_role_id` varchar(10) COLLATE utf8mb4_unicode_ci NOT NULL,
  `role_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`client_role_id`)
) ENGINE=MyISAM DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clientrole`
--

LOCK TABLES `clientrole` WRITE;
/*!40000 ALTER TABLE `clientrole` DISABLE KEYS */;
INSERT INTO `clientrole` VALUES ('PUB','Public Client'),('PROV','Provincial Government');
/*!40000 ALTER TABLE `clientrole` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `document`
--

DROP TABLE IF EXISTS `document`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `document` (
  `document_id` int NOT NULL AUTO_INCREMENT,
  `document_type_id` int NOT NULL,
  `file_path` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `document_status` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `remarks` text COLLATE utf8mb4_unicode_ci,
  `submitted_at` datetime(3) NOT NULL,
  `booking_id` int NOT NULL,
  `staff_id` int DEFAULT NULL,
  PRIMARY KEY (`document_id`),
  KEY `Document_document_type_id_fkey` (`document_type_id`),
  KEY `Document_booking_id_fkey` (`booking_id`),
  KEY `Document_staff_id_fkey` (`staff_id`)
) ENGINE=MyISAM AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `document`
--

LOCK TABLES `document` WRITE;
/*!40000 ALTER TABLE `document` DISABLE KEYS */;
/*!40000 ALTER TABLE `document` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `documenttype`
--

DROP TABLE IF EXISTS `documenttype`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `documenttype` (
  `document_type_id` int NOT NULL AUTO_INCREMENT,
  `type` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`document_type_id`)
) ENGINE=MyISAM AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `documenttype`
--

LOCK TABLES `documenttype` WRITE;
/*!40000 ALTER TABLE `documenttype` DISABLE KEYS */;
INSERT INTO `documenttype` VALUES (1,'Billing Statement'),(2,'Contract of Lease'),(3,'Certification'),(4,'Request Letter'),(5,'Official Receipt');
/*!40000 ALTER TABLE `documenttype` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `facility`
--

DROP TABLE IF EXISTS `facility`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `facility` (
  `facility_id` int NOT NULL AUTO_INCREMENT,
  `facility_name` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `rate_id` int NOT NULL,
  `status_id` int NOT NULL,
  `venue_id` int NOT NULL,
  PRIMARY KEY (`facility_id`),
  KEY `Facility_rate_id_fkey` (`rate_id`),
  KEY `Facility_status_id_fkey` (`status_id`),
  KEY `Facility_venue_id_fkey` (`venue_id`)
) ENGINE=MyISAM AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `facility`
--

LOCK TABLES `facility` WRITE;
/*!40000 ALTER TABLE `facility` DISABLE KEYS */;
INSERT INTO `facility` VALUES (1,'Gym Lobby','Event space suitable for small gatherings, exhibits, and formal registrations',4,2,1),(2,'Stage Area','Stage area for cultural presentations and program performances',3,3,1),(3,'Basketball Court','Court for basketball games with shot clock support',2,2,1),(4,'Track Oval','Used for jogging or sprints',5,1,2),(5,'South Cotabato Gymnasium and Cultural Center','Primary venue located at 26 Rafael Alunan Avenue Zone IV Koronadal City South Cotabato',1,1,1),(6,'New','sfefsdf',2,2,1),(7,'gjhg','gjdftutf',1,2,2);
/*!40000 ALTER TABLE `facility` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `facilityimage`
--

DROP TABLE IF EXISTS `facilityimage`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `facilityimage` (
  `facility_image_id` int NOT NULL AUTO_INCREMENT,
  `image` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `facility_id` int NOT NULL,
  PRIMARY KEY (`facility_image_id`),
  KEY `FacilityImage_facility_id_fkey` (`facility_id`)
) ENGINE=MyISAM AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `facilityimage`
--

LOCK TABLES `facilityimage` WRITE;
/*!40000 ALTER TABLE `facilityimage` DISABLE KEYS */;
INSERT INTO `facilityimage` VALUES (1,'scgcc_main.jpg',1),(2,'scgcc_side.jpg',1),(3,'scgcc_front.jpg',1),(4,'basketball_court.jpg',2),(5,'stage_area.jpg',3),(6,'gym_lobby.jpg',4),(7,'track_oval.jpg',5);
/*!40000 ALTER TABLE `facilityimage` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `facilityrate`
--

DROP TABLE IF EXISTS `facilityrate`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `facilityrate` (
  `rate_id` int NOT NULL AUTO_INCREMENT,
  `day_rate` decimal(10,2) NOT NULL,
  `night_rate` decimal(10,2) NOT NULL,
  PRIMARY KEY (`rate_id`)
) ENGINE=MyISAM AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `facilityrate`
--

LOCK TABLES `facilityrate` WRITE;
/*!40000 ALTER TABLE `facilityrate` DISABLE KEYS */;
INSERT INTO `facilityrate` VALUES (1,1500.00,2000.00),(2,20000.00,25000.00),(3,20000.00,25000.00),(4,1000.00,1500.00),(5,3000.00,3000.00);
/*!40000 ALTER TABLE `facilityrate` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `facilityvenue`
--

DROP TABLE IF EXISTS `facilityvenue`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `facilityvenue` (
  `venue_id` int NOT NULL AUTO_INCREMENT,
  `venue` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`venue_id`)
) ENGINE=MyISAM AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `facilityvenue`
--

LOCK TABLES `facilityvenue` WRITE;
/*!40000 ALTER TABLE `facilityvenue` DISABLE KEYS */;
INSERT INTO `facilityvenue` VALUES (1,'South Cotabato Gymnasium and Cultural Center'),(2,'South Cotabato Sports Complex');
/*!40000 ALTER TABLE `facilityvenue` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `inventory`
--

DROP TABLE IF EXISTS `inventory`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `inventory` (
  `item_id` int NOT NULL AUTO_INCREMENT,
  `item_name` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  `unit_cost` decimal(10,2) NOT NULL,
  `quantity_available` int NOT NULL,
  `venue_id` int NOT NULL,
  `status_id` int NOT NULL,
  `particular_id` int NOT NULL,
  PRIMARY KEY (`item_id`),
  KEY `Inventory_venue_id_fkey` (`venue_id`),
  KEY `Inventory_status_id_fkey` (`status_id`),
  KEY `Inventory_particular_id_fkey` (`particular_id`)
) ENGINE=MyISAM AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `inventory`
--

LOCK TABLES `inventory` WRITE;
/*!40000 ALTER TABLE `inventory` DISABLE KEYS */;
/*!40000 ALTER TABLE `inventory` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `letterstatus`
--

DROP TABLE IF EXISTS `letterstatus`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `letterstatus` (
  `letter_id` int NOT NULL AUTO_INCREMENT,
  `letter_remarks` text COLLATE utf8mb4_unicode_ci,
  `updated_at` datetime(3) NOT NULL,
  `reservation_id` int NOT NULL,
  `approval_status_id` int NOT NULL,
  `staff_id` int DEFAULT NULL,
  PRIMARY KEY (`letter_id`),
  KEY `LetterStatus_reservation_id_fkey` (`reservation_id`),
  KEY `LetterStatus_approval_status_id_fkey` (`approval_status_id`),
  KEY `LetterStatus_staff_id_fkey` (`staff_id`)
) ENGINE=MyISAM AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `letterstatus`
--

LOCK TABLES `letterstatus` WRITE;
/*!40000 ALTER TABLE `letterstatus` DISABLE KEYS */;
/*!40000 ALTER TABLE `letterstatus` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notification`
--

DROP TABLE IF EXISTS `notification`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notification` (
  `notification_id` int NOT NULL AUTO_INCREMENT,
  `message` text COLLATE utf8mb4_unicode_ci NOT NULL,
  `sent_at` datetime(3) NOT NULL,
  `staff_id` int NOT NULL,
  `client_id` int NOT NULL,
  PRIMARY KEY (`notification_id`),
  KEY `Notification_staff_id_fkey` (`staff_id`),
  KEY `Notification_client_id_fkey` (`client_id`)
) ENGINE=MyISAM AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notification`
--

LOCK TABLES `notification` WRITE;
/*!40000 ALTER TABLE `notification` DISABLE KEYS */;
/*!40000 ALTER TABLE `notification` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `package`
--

DROP TABLE IF EXISTS `package`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `package` (
  `package_id` int NOT NULL AUTO_INCREMENT,
  `package_name` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `day_rate` decimal(10,2) DEFAULT NULL,
  `night_rate` decimal(10,2) DEFAULT NULL,
  `led_wall_day_rate` decimal(10,2) DEFAULT NULL,
  `led_wall_night_rate` decimal(10,2) DEFAULT NULL,
  `time_slot_id` int NOT NULL,
  PRIMARY KEY (`package_id`),
  KEY `Package_time_slot_id_fkey` (`time_slot_id`)
) ENGINE=MyISAM AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `package`
--

LOCK TABLES `package` WRITE;
/*!40000 ALTER TABLE `package` DISABLE KEYS */;
INSERT INTO `package` VALUES (1,'Standard Day Package',55000.00,NULL,NULL,NULL,1),(2,'LED Wall Day Package',NULL,NULL,80000.00,NULL,1),(3,'Standard Night Package',NULL,60000.00,NULL,NULL,2),(4,'LED Wall Night Package',NULL,NULL,NULL,85000.00,2);
/*!40000 ALTER TABLE `package` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `packageinclusion`
--

DROP TABLE IF EXISTS `packageinclusion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `packageinclusion` (
  `package_inclusion_id` int NOT NULL AUTO_INCREMENT,
  `quantity_available` int NOT NULL,
  `package_id` int NOT NULL,
  `item_id` int NOT NULL,
  PRIMARY KEY (`package_inclusion_id`),
  KEY `PackageInclusion_package_id_fkey` (`package_id`),
  KEY `PackageInclusion_item_id_fkey` (`item_id`)
) ENGINE=MyISAM AUTO_INCREMENT=17 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `packageinclusion`
--

LOCK TABLES `packageinclusion` WRITE;
/*!40000 ALTER TABLE `packageinclusion` DISABLE KEYS */;
INSERT INTO `packageinclusion` VALUES (1,700,1,1),(2,8,1,2),(3,4,1,3),(4,1,1,4),(5,700,2,1),(6,8,2,2),(7,4,2,3),(8,1,2,4),(9,700,3,1),(10,8,3,2),(11,4,3,3),(12,1,3,4),(13,700,4,1),(14,8,4,2),(15,4,4,3),(16,1,4,4);
/*!40000 ALTER TABLE `packageinclusion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `particular`
--

DROP TABLE IF EXISTS `particular`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `particular` (
  `particular_id` int NOT NULL AUTO_INCREMENT,
  `particular_name` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `description` text COLLATE utf8mb4_unicode_ci,
  PRIMARY KEY (`particular_id`)
) ENGINE=MyISAM AUTO_INCREMENT=7 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `particular`
--

LOCK TABLES `particular` WRITE;
/*!40000 ALTER TABLE `particular` DISABLE KEYS */;
INSERT INTO `particular` VALUES (1,'Wireless Microphone','Wireless handheld microphone for program presentations 4 units available'),(2,'Wired Microphone','Wired microphone for program presentations 10 units available'),(3,'Table','Standard rectangular table for events up to 8 units available'),(4,'LED Wall','LED wall composed of 117 panels available for visual display during events'),(5,'Chair','Plastic monoblock chair for seating arrangements up to 700 units available'),(6,'Compressor','Air conditioning system suitable for events with a capacity of 250 per pax.');
/*!40000 ALTER TABLE `particular` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `payment`
--

DROP TABLE IF EXISTS `payment`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `payment` (
  `payment_id` int NOT NULL AUTO_INCREMENT,
  `amount_paid` decimal(10,2) NOT NULL,
  `payment_status_id` int NOT NULL,
  `staff_id` int DEFAULT NULL,
  `booking_id` int NOT NULL,
  PRIMARY KEY (`payment_id`),
  KEY `Payment_payment_status_id_fkey` (`payment_status_id`),
  KEY `Payment_staff_id_fkey` (`staff_id`),
  KEY `Payment_booking_id_fkey` (`booking_id`)
) ENGINE=MyISAM AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `payment`
--

LOCK TABLES `payment` WRITE;
/*!40000 ALTER TABLE `payment` DISABLE KEYS */;
INSERT INTO `payment` VALUES (1,30000.00,3,4,3),(2,27500.00,1,4,2),(3,27500.00,2,4,4),(4,27500.00,3,4,1),(5,55000.00,1,4,5);
/*!40000 ALTER TABLE `payment` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `paymentstatus`
--

DROP TABLE IF EXISTS `paymentstatus`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `paymentstatus` (
  `status_id` int NOT NULL AUTO_INCREMENT,
  `status` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`status_id`)
) ENGINE=MyISAM AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `paymentstatus`
--

LOCK TABLES `paymentstatus` WRITE;
/*!40000 ALTER TABLE `paymentstatus` DISABLE KEYS */;
INSERT INTO `paymentstatus` VALUES (1,'Paid'),(2,'Partial'),(3,'Unpaid');
/*!40000 ALTER TABLE `paymentstatus` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reservation`
--

DROP TABLE IF EXISTS `reservation`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reservation` (
  `reservation_id` int NOT NULL AUTO_INCREMENT,
  `event_date` date NOT NULL,
  `event_type` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  `reservation_status` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `submitted_at` datetime(3) NOT NULL,
  `venue_id` int NOT NULL,
  `client_id` int NOT NULL,
  `package_id` int DEFAULT NULL,
  `time_slot_id` int NOT NULL,
  PRIMARY KEY (`reservation_id`),
  KEY `Reservation_venue_id_fkey` (`venue_id`),
  KEY `Reservation_client_id_fkey` (`client_id`),
  KEY `Reservation_package_id_fkey` (`package_id`),
  KEY `Reservation_time_slot_id_fkey` (`time_slot_id`)
) ENGINE=MyISAM AUTO_INCREMENT=14 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reservation`
--

LOCK TABLES `reservation` WRITE;
/*!40000 ALTER TABLE `reservation` DISABLE KEYS */;
/*!40000 ALTER TABLE `reservation` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reservedparticular`
--

DROP TABLE IF EXISTS `reservedparticular`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reservedparticular` (
  `reserved_particular_id` int NOT NULL AUTO_INCREMENT,
  `quantity` int NOT NULL,
  `reservation_id` int NOT NULL,
  `particular_id` int NOT NULL,
  PRIMARY KEY (`reserved_particular_id`),
  KEY `ReservedParticular_reservation_id_fkey` (`reservation_id`),
  KEY `ReservedParticular_particular_id_fkey` (`particular_id`)
) ENGINE=MyISAM AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reservedparticular`
--

LOCK TABLES `reservedparticular` WRITE;
/*!40000 ALTER TABLE `reservedparticular` DISABLE KEYS */;
INSERT INTO `reservedparticular` VALUES (1,100,1,1),(2,2,1,4),(3,200,2,1),(4,2,2,2),(5,150,3,1),(6,4,3,2),(7,4,3,3),(8,700,4,1),(9,1,4,5);
/*!40000 ALTER TABLE `reservedparticular` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `schedule`
--

DROP TABLE IF EXISTS `schedule`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `schedule` (
  `schedule_id` int NOT NULL AUTO_INCREMENT,
  `client_id` int NOT NULL,
  `reservation_id` int DEFAULT NULL,
  `booking_id` int DEFAULT NULL,
  `facility_id` int NOT NULL,
  PRIMARY KEY (`schedule_id`),
  KEY `Schedule_client_id_fkey` (`client_id`),
  KEY `Schedule_reservation_id_fkey` (`reservation_id`),
  KEY `Schedule_booking_id_fkey` (`booking_id`),
  KEY `Schedule_facility_id_fkey` (`facility_id`)
) ENGINE=MyISAM AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `schedule`
--

LOCK TABLES `schedule` WRITE;
/*!40000 ALTER TABLE `schedule` DISABLE KEYS */;
INSERT INTO `schedule` VALUES (1,4,NULL,4,4),(2,3,NULL,3,3),(3,2,2,NULL,2),(4,5,5,NULL,1),(5,1,1,NULL,1);
/*!40000 ALTER TABLE `schedule` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `staff`
--

DROP TABLE IF EXISTS `staff`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `staff` (
  `staff_id` int NOT NULL AUTO_INCREMENT,
  `first_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `middle_name` varchar(100) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `last_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  `email` varchar(150) COLLATE utf8mb4_unicode_ci NOT NULL,
  `contact_number` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `password` varchar(255) COLLATE utf8mb4_unicode_ci NOT NULL,
  `status` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL DEFAULT 'Active',
  `profile_photo` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `staff_role_id` int NOT NULL,
  `staff_org_id` int NOT NULL,
  PRIMARY KEY (`staff_id`),
  UNIQUE KEY `Staff_email_key` (`email`),
  KEY `Staff_staff_role_id_fkey` (`staff_role_id`),
  KEY `Staff_staff_org_id_fkey` (`staff_org_id`)
) ENGINE=MyISAM AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `staff`
--

LOCK TABLES `staff` WRITE;
/*!40000 ALTER TABLE `staff` DISABLE KEYS */;
/*!40000 ALTER TABLE `staff` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `stafforganization`
--

DROP TABLE IF EXISTS `stafforganization`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `stafforganization` (
  `staff_org_id` int NOT NULL AUTO_INCREMENT,
  `org_name` varchar(200) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`staff_org_id`)
) ENGINE=MyISAM AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `stafforganization`
--

LOCK TABLES `stafforganization` WRITE;
/*!40000 ALTER TABLE `stafforganization` DISABLE KEYS */;
INSERT INTO `stafforganization` VALUES (1,'South Cotabato Sports Complex'),(2,'South Cotabato Gymnasium and Cultural Center'),(3,'Provincial Treasurer\'s Office');
/*!40000 ALTER TABLE `stafforganization` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `staffrole`
--

DROP TABLE IF EXISTS `staffrole`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `staffrole` (
  `role_id` int NOT NULL AUTO_INCREMENT,
  `role_name` varchar(100) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`role_id`)
) ENGINE=MyISAM AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `staffrole`
--

LOCK TABLES `staffrole` WRITE;
/*!40000 ALTER TABLE `staffrole` DISABLE KEYS */;
INSERT INTO `staffrole` VALUES (1,'Program Coordinator'),(2,'Admin'),(3,'Accounting Clerk'),(4,'Local Treasury Operations Officer');
/*!40000 ALTER TABLE `staffrole` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `timeslot`
--

DROP TABLE IF EXISTS `timeslot`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `timeslot` (
  `time_slot_id` int NOT NULL AUTO_INCREMENT,
  `start_time` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  `end_time` varchar(20) COLLATE utf8mb4_unicode_ci NOT NULL,
  PRIMARY KEY (`time_slot_id`)
) ENGINE=MyISAM AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `timeslot`
--

LOCK TABLES `timeslot` WRITE;
/*!40000 ALTER TABLE `timeslot` DISABLE KEYS */;
INSERT INTO `timeslot` VALUES (1,'08:00 AM','05:00 PM'),(2,'05:00 PM','11:00 PM');
/*!40000 ALTER TABLE `timeslot` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `transaction`
--

DROP TABLE IF EXISTS `transaction`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `transaction` (
  `transaction_id` int NOT NULL AUTO_INCREMENT,
  `receipt_number` varchar(50) COLLATE utf8mb4_unicode_ci NOT NULL,
  `payment_date` datetime(3) NOT NULL,
  `recorded_by` varchar(255) COLLATE utf8mb4_unicode_ci DEFAULT NULL,
  `booking_id` int NOT NULL,
  `payment_id` int NOT NULL,
  PRIMARY KEY (`transaction_id`),
  KEY `Transaction_booking_id_fkey` (`booking_id`),
  KEY `Transaction_payment_id_fkey` (`payment_id`)
) ENGINE=MyISAM AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `transaction`
--

LOCK TABLES `transaction` WRITE;
/*!40000 ALTER TABLE `transaction` DISABLE KEYS */;
INSERT INTO `transaction` VALUES (1,'OR-2026-005','2026-03-07 00:00:00.000','Local Treasury Operations Officer',4,3),(2,'OR-2026-001','2026-03-01 00:00:00.000','Local Treasury Operations Officer',4,1),(3,'OR-2026-002','2026-03-03 00:00:00.000','Local Treasury Operations Officer',4,2),(4,'OR-2026-003','2026-03-02 00:00:00.000','Local Treasury Operations Officer',4,3),(5,'OR-2026-004','2026-03-05 00:00:00.000','Local Treasury Operations Officer',4,4);
/*!40000 ALTER TABLE `transaction` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-29  6:41:45
